.contact-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: 'Lato', sans-serif;
}

.contact-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    margin-top: 50px;
}

/* .contact-container {
    margin-top: 50px;
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} */

h3 {
    font-size: 1.5rem;
}

.contact-numbers {
    display: flex;
    margin: 10px;
    gap: 5px;
}

.contact-logos {
    width: 30px;
}

.bottom-section {
    display: flex;
    background-color: white;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;
}