.contact-container {
    display: grid;
    grid-template-columns: 1fr;
    font-family: 'Lato', sans-serif;
}

.contact-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
}

h3 {
    font-size: 1.5rem;
}

.contact-numbers {
    display: flex;
    margin: 10px;
    gap: 5px;
}

.contact-logos {
    width: 30px;
}

.bottom-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

@media screen and (max-width:1240px) {
    .contact-container {
        grid-template-columns: repeat(1, 1fr);
    }
    }

@media screen and (max-width:700px) {
    .contact-text {
        font-size: 1rem;
    }
    .contact-logos {
        width: 22px;
    }
    .contact-title {
        font-size: 2.5rem;
    }
    }

@media screen and (max-width:500px) {
    .contact-text {
        font-size: 0.8rem;
    }

    .contact-logos {
        width: 15px;
    }
    }

