.title {
    font-weight: 800;
    font-size: 3.5rem;
    margin-bottom: 25px;
    font-family: 'Lato', sans-serif;
}

.subtitle {
    font-weight: 800;
    font-size: 2.25rem;
    font-family: 'Lato', sans-serif;
}

.hero-container {
    position: relative;
    text-align: center;
    color: black;
    top: 0;
    left: 0;
}

.hero-img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    filter: brightness(35%);
}

.hero-img-mobile {
    display: none;
}

.hero-title {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3.5rem;
    font-weight: 700;
    min-width: 800px;
}

.hero-title-short {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -30%);
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 50px;
    min-width: 400px;
}

@media screen and (max-width:1240px) {
    .hero-img {
        width: 100%;
    }
    .hero-title {
        font-size: 2.4rem;
        transform: translate(-50%, -70%);
        min-width: 500px;
    }
    .hero-title-short {
        font-size: 0.9rem;
    }

    .hero-container {
        padding-top: 70px;
    }
}

@media screen and (max-width:740px) {
    .hero-img {
        width: 100%;
        top: 45%;
    }
    .hero-title {
        font-size: 2rem;
        transform: translate(-50%, -50%);
    }
    .hero-title-short {
        font-size: 0.9rem;
    }
}

@media screen and (max-width:500px) {
    .hero-img-mobile {
        width: 100%;
        display: flex;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        filter: brightness(35%);
    }
    .hero-img {
        display: none;
        width: 100%;
        top: 45%;
    }
    .hero-title {
        transform: translate(-50%, -40%);
        min-width: 340px;
        font-size: 1.9rem;
    }
    .hero-title-short {
        font-size: 1rem;
        min-width: 200px;
    }
}

@media screen and (max-width:400px) {
    .hero-title {
        transform: translate(-50%, -10%);
        min-width: 300px;
        font-size: 1.3rem;
    }

    .hero-title-short {
        font-size: 0.8rem;
        min-width: 200px;
    }
}

