.hero-container {
    position: relative;
    text-align: center;
    color: black;
    top: 0;
    left: 0;
}

.hero-img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    filter: brightness(36%);
}

.hero-title {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3.5rem;
    font-weight: 700;
}

.hero-title-short {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 20px;
}
