@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    font-size: 1.8rem;
    font-family: 'Lato', sans-serif;
}

.navbar-logo {
    margin-left: 300px;
    display: flex;
    width: 230px;
    height: 130px;
}


.navbar-buttons {
    display: flex;
    gap: 30px;
    margin-right: 300px;
    font-size: 0.6em;
}

.btn {
    color: black;
    padding: 10px 20px;
    font-weight: 900;
    transition: 0.3s;
}

.btn:link {
    color: black;
    text-decoration: none;
}

.btn:visited {
    color: black;
    text-decoration: none;
}

.btn:hover {
    color: #F8C302;
}

.contact-btn {
    border: 2px solid #000;
    border-radius: 25px;
    background-color: #000;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    font-weight: 900;
    transition: 0.3s;
}

.contact-btn:link {
    color: black;
    text-decoration: none;
}

.contact-btn:visited {
    color: white;
    text-decoration: none;
}

.contact-btn:hover {
    color: #F8C302;
}

.whatsapp-button {
    position: fixed;
    width: 75px;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(0px 2px 7px #222);
}

@media screen and (max-width:1240px) {
    .navbar-container{
        display: none;
    }
    .whatsapp-button {
        width: 40px;
    }

    }