@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

html, body {
    overflow-x: hidden;
}
body {
    position: relative
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    font-size: 1.8rem;
    font-family: 'Lato', sans-serif;
    width: 100%;
    z-index: 1;
    border-bottom: 1px solid #eee;
}

.navbar-logo {
    margin: 0 100px 0 100px;
    display: flex;
    width: 230px;
    height: 130px;
}


.navbar-buttons {
    display: flex;
    gap: 30px;
    margin-right: 300px;
    font-size: 0.6em;
}

.btn {
    color: black;
    padding: 10px 20px;
    font-weight: 900;
    transition: 0.3s ease;
}

.btn:link {
    color: black;
    text-decoration: none;
}

.btn:visited {
    color: black;
    text-decoration: none;
}

.btn:hover {
    color: #F8C302;
}

.contact-btn {
    border-radius: 25px;
    background-color: #F8C302;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    font-weight: 900;
    transition: 0.3s ease;
}

.contact-btn:link {
    color: white;
    text-decoration: none;
}

.contact-btn:visited {
    color: white;
    text-decoration: none;
}

.contact-btn:hover {
    background-color: #fad654;
}

.whatsapp-button {
    position: fixed;
    width: 75px;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(0px 2px 7px #222);
}

.hamburger {
    display: none;
}

body::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width:1240px) {
    .navbar-container {
        position: fixed;
    }

    .hamburger {
        display: flex;
        margin: 0 30px 0;
        cursor: pointer;
    }

    .whatsapp-button {
        width: 40px;
    }

    .navbar-logo {
        width: 120px;
        height: 75px;
        margin: 0 0 0 20px;
    }

    .navbar-buttons-container {
        background-color: white;
        z-index: 1;
        overflow: hidden;
    }

    .navbar-buttons {
        position: fixed;
        flex-direction: column;
        justify-content: start;
        top: 75px;
        right: -200%;
        width: 70%;
        background-color: white;
        padding: 20px;
        border-left: 1px solid #eee;
        height: 100vh;
        z-index: 1;
        transition: 0.6s ease;
        overflow: hidden;
    }

    .navbar-buttons.active {
        right: -55%;
        transition: 0.6s ease;
    }

    .contact-btn {
        border: none;
        background-color: white;
        color: black;
        border-radius: 0;
    }

    .contact-btn:link {
        color: black;
        text-decoration: none;
    }
    
    .contact-btn:visited {
        color: black;
        text-decoration: none;
    }

    .contact-btn:hover {
        background-color: white;
        color: black;
    }

    .btn:hover {
        color: black;
    }

    }

@media screen and (max-width:1040px) {
    .navbar-buttons.active {
        right: -75%;
        transition: 0.6s ease;
    }
}

@media screen and (max-width:500px) {
    .navbar-buttons.active {
        right: -95%;
        transition: 0.6s ease;
    }
}

@media screen and (max-width:400px) {
    .navbar-buttons.active {
        right: -100%;
        transition: 0.6s ease;
    }
}

@media screen and (max-width:300px) {
    .navbar-buttons.active {
        right: -115%;
        transition: 0.6s ease;
    }
}