.products-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.products-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}

.products-subtitle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.products-images-container {
    margin-top: 25px;
    gap: 100px;
}

.electrobombas-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 100px;
}

.sbf-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 100px;
}

.minisurtidores-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 100px;
}

.accesorios-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 100px;
}


@media screen and (max-width:1300px) {
    .products-subtitle-container {
        margin-top: 20px;
    }
    
    .title {
        font-size: 2rem;
    }
    
    .subtitle {
        font-size: 1.5rem;
    }

    .electrobombas-grid {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 80px;
    }

    .sbf-grid {
        column-gap: 20px;
    }

    .minisurtidores-grid {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 80px;
    }

    .accesorios-grid {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 80px;
    }
}

@media screen and (max-width:1000px) {
    .electrobombas-grid {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 50px;
    }

    .minisurtidores-grid {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 50px;
    }

    .accesorios-grid {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 50px;
    }
}

@media screen and (max-width:1000px) {
    .electrobombas-grid {
        column-gap: 20px;
    }

    .minisurtidores-grid {
        column-gap: 20px;
    }

    .accesorios-grid {
        column-gap: 20px;
    }
}

@media screen and (max-width:500px) {
    .title {
        font-size: 1.7rem;
    }
}

