.grid-image {
    /* background-color: rgb(245, 245, 245); */
    border-radius: 5px;
}

.modal-text {
    font-weight: 600;
    margin: 15px 0;
}

.modal-important-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.modal-important-title {
    font-size: 1.1rem;
    font-weight: 800;
    color: red;
}

.modal-important {
    font-size: 0.8rem;
    font-weight: 800;
    color: red;
}

.centered-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-grid-container {
    display: grid; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
}

.grid-div {
    padding: 20px 40px;
    font-size: 1.95rem;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
}

.first {
    font-weight: 800;
}

@media screen and (max-width:1100px) {
    .grid-div {
        font-size: 1.4rem;
    }
}

@media screen and (max-width:800px) {
    .grid-div {
        font-size: 1.2rem;
        padding: 10px 15px;
    }
    .modal-important-title {
        font-size: 0.9rem;
    }
    .modal-important-container {
        margin-top: 40px;
    }
    .grid-image {
        width: 60%;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}