.products-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.products-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}

.products-subtitle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.products-images-container {
    margin-top: 25px;
    gap: 100px;
}

.electrobombas-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 100px;
}

.minisurtidores-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 100px;
}

.accesorios-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 100px;
}


