.grid-image {
    /* background-color: rgb(245, 245, 245); */
    border-radius: 5px;
}

.modal-text {
    font-weight: 600;
    margin: 15px 0;
}

.modal-title{
    margin-top: 25px;
}

.modal-important-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.modal-important-title {
    font-size: 1rem;
    font-weight: 800;
    color: red;
    margin-bottom: 10px;
}

.modal-important {
    font-size: 0.8rem;
    font-weight: 800;
    color: red;
}

.centered-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-grid-container {
    display: grid; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
}

.grid-div {
    padding: 15px 15px;
    font-size: 1.5rem;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
}

.first {
    font-weight: 800;
}

@media screen and (max-width:1400px) {
    .grid-image {
        width: 85%;
    }
    .grid-div {
        font-size: 1.3rem;
        width: 170px;
    }
    .modal-title {
        margin-bottom: -20px;
    }
    .modal-important-container {
        margin-top: -40px;
    }
}

@media screen and (max-width:1100px) {
    .grid-div {
        font-size: 1.1rem;
        width: 150px;
    }

    .modal-important-container {
        margin-top: -60px;
    }

    .modal-important-title {
        font-size: 0.9rem;
    }

    .modal-important {
        font-size: 0.7rem;
    }

    .modal-title{
        margin-bottom: -55px;
    }

    .grid-image {
        width: 75%;
    }


}

@media screen and (max-width:800px) {
    .grid-div {
        font-size: 0.9rem;
        padding: 10px 15px;
        width: 130px;
    }
    .modal-important-title {
        font-size: 0.9rem;
    }
    .modal-important-container {
        margin-top: 35px;
    }
    .grid-image {
        width: 50%;
        margin-top: 100px;
        margin-bottom: 15px;
    }
}