.services-container {
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    border-bottom: 1px solid black;
    padding-bottom: 75px;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 150px;
}

@media screen and (max-width:1550px) {
    .services-title {
        margin: 50px auto;
    }

    .services-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
    }

    }

@media screen and (max-width:1350px) {
    .services-title {
        margin: 50px auto;
    }

    .services-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
    }

    }

@media screen and (max-width:700px) {
    .services-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    }

@media screen and (max-width:400px) {
    .services-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    }




